.form_container{
    display: flex;    
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
  
}
.form_wrapper{
    display: flex;
    width: 70%;
    margin-bottom: 15px;
}
.label{
   flex:1.5;
   display: flex;
   align-items: center;
}
.form_input{
    flex:10;
    display: flex;
    flex-direction: column;
}
input{
    border-radius: 5px;
    padding:10px;
}


@media screen and (max-width: 880px) {
    .form_wrapper {
        width: 95%;
        flex-direction: column;
    }
    
  }